%h1 Give us a URL and we'll throw a short one back at you!
#userinput
  %form{ :action => "/", :method => "post"}
    .input
      %input{:title => "URL", :type => "text", :name => "url", :class => "text", :placeholder => "URL"}
    .input
      %input{:title => "Slug", :type => "text", :name => "slug", :class => "text", :placeholder => "Link Name (optional)"}
    .input
      %input{:type => "submit", :value => "Make the Link!", :class => "button"}
