%h1 Give us a URL and we'll throw a short one back at you!
%form{ :action => "", :method => "post"}
  .input
    %label{:for => "url"} URL:
    %input{:type => "text", :name => "url", :class => "text"}
  .input
    %label{:for => "slug"} Slug:
    %input{:type => "text", :name => "slug", :class => "text"}
  .input
    %input{:type => "submit", :value => "Make the Link!", :class => "button"}
